{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-12">
        {% if form.errors  %}
       <div class="alert alert-danger"><center>{{ form.errors }}</center></div>
        {% endif %}
    </div>
  </div>

  <div class="row">
       <div class="col-md-3">
           &nbsp;
       </div>
       <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading" >
               <b>登录</b>
            </div>
            <div class="panel-body">
              <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
               <div class="input-group">
                   <span class="input-group-addon" >用户名</span>
                   <input type="text" name='username' class="form-control">
               </div>
                   <br/>
               <div class="input-group">
                   <span class="input-group-addon" >密码</span>
                   <input type="password" name='password' class="form-control">
               </div>
                   <br/>
                <span><a href="{% url 'usercenter_register'  %}">没注册账户？去注册...</a></span><span class="pull-right"><button type="submit" class="btn btn-primary">登录</button></span>
                <input type="hidden" name="next" value="{{ next }}">
              </form>
            </div>
          </div>

       </div>
       <div class="col-md-3">
           &nbsp;
       </div>
  </div>



{% endblock %}